# Node.js dependencies
/node_modules

# Build artifacts and caches
/dist
/build
.parcel-cache/
.cache/

# Environment variables
.env
.env.*local # Catches .env.local, .env.development.local, etc.

# Operating System files
.DS_Store

# Logs
*.log

src/netlify.toml