[[redirects]]
  from = "/*"
  to = "/"
  status = 200

  [build]
  command = "npm run build"
  publish = "build"

[context.production.environment]
  NODE_VERSION = "22"
  PARCEL_CPU_COUNT = "1"
  NPM_FLAGS = "--prefer-ci"