[[redirects]]
  from = "/*"
  to = "/"
  status = 200

  [build]
  command = "npx parcel build src/index.html --dist-dir build --public-url ./"
  publish = "build"

[context.production.environment]
  NODE_VERSION = "18"
  PARCEL_CPU_COUNT = "1"
  